<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <% if micropost.picture? %>
    <% if micropost.picture.file.content_type.include?('image/') %>
      <%= image_tag micropost.picture.url(:thumb) %>
    <% else %>
      <%= video_tag micropost.picture.url, width: "30%", height: "30%", 
                  controls: true, autobuffer: true %>
    <% end %>
    <% end %>

  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>