<div id="micropost-<%= #{@micropost.id} %>">
  <%= link_to gravatar_for(@micropost.user, size: 120), @micropost.user ,:class=>"user-name" %>
  <br/>
  <span class="user"><%= link_to "#{@micropost.user.name}", @micropost.user  %></span>
  <br/>
  <span class="micropost_content">
      <%= @micropost.content %>
      <%= image_tag @micropost.picture.url if @micropost.picture?%>
  </span>